{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 Shop -->
          <div class="carousel-item active" style="background-image: url({% static 'assets/img/hero/hero-1.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Online Shop</span></h2>
                <p class="animate__animated animate__fadeInUp">With EasyShop, use all services quickly and easily via phone or other devices, and at the same time EasyShop becomes a part of your life</p>
                <a href="about.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 Resturant -->
          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero/hero-2.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Welcome to <span>Restaurant and Cafe</span></h2>
                <p class="animate__animated animate__fadeInUp">With EasyShop, use all services quickly and easily via phone or other devices, and at the same time EasyShop becomes a part of your life</p>
                <a href="about.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 Delivery -->
          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero/hero-3.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Delivery</span></h2>
                <p class="animate__animated animate__fadeInUp">With EasyShop, use all services quickly and easily via phone or other devices, and at the same time EasyShop becomes a part of your life</p>
                <a href="about.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>


         <!-- Slide 4 Taxi -->
          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero/hero-4.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Welcome to <span>Taxi service</span></h2>
                <p class="animate__animated animate__fadeInUp">With EasyShop, use all services quickly and easily via phone or other devices, and at the same time EasyShop becomes a part of your life</p>
                <a href="about.html" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-bag"></i>
              <h3><a href="services.html">Online Shop</a></h3>
              <p>Buy the best quality and brand products</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-cup-hot"></i>
              <h3><a href="services.html">Cafe and Restaurant</a></h3>
              <p>Book a seat in the restaurant or cafe of your choice through our website</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-taxi-front"></i>
              <h3><a href="services.html">Taxi</a></h3>
              <p>Use of fast and convenient taxi service through our website</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/about/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3 style="margin: 10px;">Sirdaryo viloyati Shirin shahar</h3>
            <p style="margin: 10px;">
              Shirin — Sirdaryo viloyatidagi shahar (1972-yildan). Viloyatga boʻysunadi. Yaqin temir yoʻl stansiyasi — Farhod (6 km). Viloyat markazidan 52 km. Urtacha 328 m balandlikda. Aholisi 15,3 ming kishi (2003). Shaharda Farhod GES, Sirdaryo issiqlik elektr styasi, savdo va maishiy xizmat koʻrsatish shoxobchalari mashinasozlik zavodi, sutkasiga 7 t non va non mahsulotlari ishlab chiqaradigan korxona, spirt zavodi va boshqalar, shuningdek, 60 tadan ziyod turli shakldagi xususiy va kichik korxonalar bor. Sirdaryo qurilish boshqarmasi ham shahrida joylashgan. Shaharda 4 umumiy taʼlim maktabi, 1 musiqa maktabi, 2 kasbhunar kolleji, teatr, „Shirin“ shahar bozori, 5 kutubxona, 2 muzey, kasalxona (140 oʻrin), bolalar kasalxonasi, vrachlik sogʻlomlashtirish punkti, 2 qishloq vrachlik ambulatoriyasi, 2 feldsherakusherlik punkti, dorixona, „Xavotog“ sanatoriysi, madaniyat va istirohat bogʻi, Xotira bogʻi mavjud.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     

    <!-- ======= Download Section ======= -->
    <section id="downlaod" class="download">
      <div class="container">
<!-- Slide open -->

        <!-- Slide-1 Windows -->
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4><a href="#">Windows App</a></h4>
              <p>
                OC: Windows 7/8/10;
                Processor: Intel Core i3;
                RAM: 4GB;
                Hard disk space: 12 GB
              </p>
               <button onclick="download()" class="btn btn-danger"><i class="bi bi-download"></i> Download</button>
            </div>
          </div>
          <!-- Slide-2 Android -->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-android2"></i></div>
              <h4><a href="#">Android App</a></h4>
              <p>
                Andoid version: Android 5 + and other;
                RAM: 4GB;
                Hard disk space: 8 GB
              </p>
              <button onclick="download()" class="btn btn-danger"><i class="bi bi-download"></i> Download</button>
            </div>
          </div>
          <!-- Slide-3 iOS -->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-apple"></i></div>
              <h4><a href="#">iOS App</a></h4>
              <p>
                OC: iOS 12 +;
                Model: Iphone 5 + and other:
                RAM: 4GB;
                Hard disk space: 8 GB
              </p>
              <button onclick="download()" class="btn btn-danger"><i class="bi bi-download"></i> Download</button>
            </div>
          </div>
<!-- Close Slide -->

        </div>
      </div>
    </section><!-- End Download Section -->

    <!-- ======= xizmatlar Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Xizmatlar</h2> 
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/xizmatlar/xizmatlar-7.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End xizmatlar Section -->

  </main><!-- End #main -->
{% endblock content %}